 /* Styling the h1 heading */
h1 {
    color: blue;
}

/* Styling of paragraph p, which is a descendant of an element with class .content */
.content p {
    font-size: 16px;
}

/* Styling the ul list, which is a direct child of an element with the .sidebar class */
.sidebar > ul {
    list-style: none;
}

/* Styling the li element that follows directly after another li element */
ul li + li {
    margin-top: 20px;
}

/* Styling of li elements that follow the h2 element */
h2 ~ ul li {
    color: green;
}
